<div class="row">
    <div class="col">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom" pt>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <h2><span class='fad fa-chart-pie-alt fa-fw'></span> Download</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Information</li>
                    <li class="breadcrumb-item active">Download</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-6">
        <div class="card card-primary mb-3">
            <div class="card-header">
                Map Download
            </div>
            <div class="card-body">
                <a class="btn btn-w-md btn-primary btn-block waves-effect waves-light" href="https://skirata.pro/assets/maps/the_academy_v2.pk3" type="button">
                    <i class="fa fa-download"></i>
                    The Academy V2
                </a>
                <a class="btn btn-w-md btn-primary btn-block waves-effect waves-light" href="https://skirata.pro/assets/maps/the_academy_v3.pk3" type="button">
                    <i class="fa fa-download"></i>
                    The Academy V3
                </a>
                <a class="btn btn-w-md btn-primary btn-block waves-effect waves-light" href="https://skirata.pro/assets/maps/JKII_Map_Pack.pk3" type="button">
                    <i class="fa fa-download"></i>
                    JK2 MAP PACK
                </a>
            </div>
            <div class="card-footer">This map is used in all of our servers</div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-6">
        <div class="card card-primary mb-3">
            <div class="card-header">
                Utilities Download
            </div>
            <div class="card-body">
                <a class="btn btn-w-md btn-primary btn-block waves-effect waves-light" href="https://jkhub.org/files/file/3681-skirata-mandalorian-v3/" target="_blank" type="button">
                    <i class="fa fa-download"></i>
                    Skirata Skinpack v3
                </a>
                <a class="btn btn-w-md btn-primary btn-block waves-effect waves-light" href="https://github.com/eternalcodes/EternalJK/releases/download/1.5.8.5/eternaljk-win32-portable.zip" type="button">
                    <i class="fa fa-download"></i>
                    EternalJK
                </a>
            </div>
            <div class="card-footer">Utilities to play Jedi Knight: Jedi Academy</div>
        </div>
    </div>
</div>