<div class="row">
    <div class="col">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom" pt>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <h2><span class='fad fa-cube fa-fw'></span> Servers</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Information</li>
                    <li class="breadcrumb-item active">Servers</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
                  
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="text-success fad fa-toggle-on display-4"></div>
                    <div class="ml-3">
                        <div>Ja+ Server<i class="text-success"></i></div>
                        <div class="h3 mb-0">/connect 45.173.130.66:29070</div>
                    </div>
                </div>
            </div>
            <div class="card_footer">
                
            </div>
        </div>
    </div>
    
</div>