<div class="row">
    <div class="col">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom" pt>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <h2><span class='fad fa-chart-pie-alt fa-fw'></span> ELO System</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Information</li>
                    <li class="breadcrumb-item active">ELO System</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<h3>Question and Answers for Jedi Knight Ranked System</h3>
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        
        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" data-toggle="tab" href="#tab-1"> What is it?</a>
            <a class="nav-link" data-toggle="tab" href="#tab-2">What is ELO?</a>
            <a class="nav-link" data-toggle="tab" href="#tab-3">What is the base ELO?</a>
            <a class="nav-link" data-toggle="tab" href="#tab-4">How many Duels do I need for my ELO to start working?</a>
            <a class="nav-link" data-toggle="tab" href="#tab-5">Do I need to register an account to start qualifying?</a>
            <a class="nav-link" data-toggle="tab" href="#tab-6">Why not a system with user accounts?</a>
            <a class="nav-link" data-toggle="tab" href="#tab-7">How do they detect players who usurp nick to harm the ELO of other players?</a>
            <a class="nav-link" data-toggle="tab" href="#tab-8">How is the ELO score classified?</a>
            <a class="nav-link" data-toggle="tab" href="#tab-9">Are there inactivity penalties?</a>
            <a class="nav-link" data-toggle="tab" href="#tab-10">Are there administrators on the servers?</a>
            <a class="nav-link" data-toggle="tab" href="#tab-11">Can Nick Padawan classify?</a>
        </div>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div id="tab-1" class="tab-pane active">
                <div class="card mb-3">
                    <div class="card-body">
                        <p>It is an ELO based scoring system.</p>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="card mb-3">
                    <div class="card-body">
                        <p>Every duel you do, saber or force, goes through an algorithm where your and rival skills is measured, finally the result is your ELO score.</p>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="card mb-3">
                    <div class="card-body">
                        <p>Every player that starts playing begin with a base ELO of 1200, after the duel 10 this base ELO will start working.</p>
                    </div>
                </div>
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="card mb-3">
                    <div class="card-body">
                        <p>10 duels in per category are required to begin qualifying.</p>
                    </div>
                </div>
            </div>
            <div id="tab-5" class="tab-pane">
                <div class="card mb-3">
                    <div class="card-body">
                        <p>No, an account is not necessary, the system is based on the nick of the player. The colors of your nickname can vary and it will be taken as a player.</p>
                            <p>Example:</p>
                            <p>^ 2M ^ 7i ^ 1Nick</p>
                            <p>^ 3M ^ 7i ^ 4Nick</p>
                            <p>This nick will be the same player.</p>
                            <p></p>
                            <p>It would be different if:</p>
                            <p>^ 2M ^ 7i ^ 1Nick</p>
                            <p>^ 3M ^ 7i ^ 0NICK</p>
                            <p>In this second case they are different players, since it differs from upper or lower case.</p>
                            
                    </div>
                </div>
            </div>
            <div id="tab-6" class="tab-pane">
                <div class="card mb-3">
                    <div class="card-body">
                        <p>Our Jedi Knight community is already accustomed to playing without registration, the times it has been implemented almost nobody registers their account.</p>
                    </div>
                </div>
            </div>
            <div id="tab-7" class="tab-pane">
                <div class="card mb-3">
                    <div class="card-body">
                        <p>The site has an automatic detection system that runs every night, there are inconsistencies such as nick encroachment, nick changes in duels and other things.
                            When a player is detected committing this fault, the ELO score of all his nicknames are penalized and banned from the server for 1 month. Subsequently, the ELO of the injured player is restored.
                            </p>
                    </div>
                </div>
            </div>
            <div id="tab-8" class="tab-pane">
                <div class="card mb-3">
                    <div class="card-body">
                        <p>When a player is in a certain ELO rank they will be classified in a category, then the rank and categories:</p>
                             <p>0 - 1099 = <span class="badge badge-iron">Iron</span></p>
                             <p>1100 - 1199 = <span class="badge badge-bronze">Bronze</span></p>
                             <p>1200 - 1299 = <span class="badge badge-silver">Silver</span></p>
                             <p>1300 - 1399 = <span class="badge badge-gold">Gold</span></p>
                             <p>1400 - 1499 = <span class="badge badge-platinum">Platinum</span></p>
                             <p>1500 - 1599 = <span class="badge badge-diamond">Diamond</span></p>
                             <p>1600+ = <span class="badge badge-immortal">Immortal</span></p>
                            
                    </div>
                </div>
            </div>
            <div id="tab-9" class="tab-pane">
                <div class="card mb-3">
                    <div class="card-body">
                        <p>Yes, for people who stop playing, they will be penalized according to their category</p>
                            <p>If the player is Iron and inactive for 200 days, 10 ELO will be deducted.</p>
                            <p>If the player is Bronze and inactive for 120 days, 10 ELO will be deducted.</p>
                            <p>If the player is Silver and inactive for 60 days, 10 ELO will be deducted.</p>
                            <p>If the player is Gold and inactive for 30 days, 10 ELO will be deducted.</p>
                            <p>If the player is Platinum and inactive for 22 days, 10 ELO will be deducted.</p>
                            <p>If the player is Diamond and inactive for 18 days, 10 will be deducted from ELO.</p>
                            <p>If the player is Immortal and inactive for 10 days, 10 will be deducted from ELO.</p>
                    </div>
                </div>
            </div>
            <div id="tab-10" class="tab-pane">
                <div class="card mb-3">
                    <div class="card-body">
                        <p>No, these are self-managed public servers. there are no administrators.</p>
                    </div>
                </div>
            </div>
            <div id="tab-11" class="tab-pane">
                <div class="card mb-3">
                    <div class="card-body">
                        <p>No, each match by a Padawan or against a Padawan nick will be declared a Null Duel and will not be registered.</p>
                    </div>
                </div>
            </div>









        </div>
    </div>
</div>